/* Reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figure,
footer,
header,
nav {
  display: block;
}

/* Base */
html {
  font: 100%/1.5 'Source Sans Pro', sans-serif;
}

/* - Grouping content */
figure,
ol,
p,
ul {
  margin: 0 0 1.5em 0;
}

li ol,
li ul {
  margin-bottom: 0;
}

ol.unstyled,
ul.unstyled {
  padding-left: 0;
  list-style-type: none;
}

/* - Embedded content */
img {
  width: 100%;
}

/* - Typography & text-level semantics */
body {
  font-size: 1em;
}
@media screen and (min-width: 32em) {
  body {
    font-size: 1.5em
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h1 {
  margin: 0 0 1em;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 32em) {
  h1 {
    margin: 0 0 .75em;
    font-size: 2em;
  }
}

h2 {
  margin: 0 0 1.2em;
  font-size: 1.25em;
  line-height: 1.33;
}

h3 {
  margin: 0 0 1.5em;
  font-size: 1em;
  line-height: 1.5;
}

h4,
.h4 {
  margin: 0;
  font-size: 1em;
  text-transform: none;
}

a {
  border-bottom: .05em solid;
  text-decoration: none;
}

small {
  font-size: 80%;
}

.text-center {
  text-align: center;
}

/* Layout */
#footer,
#header {
  margin: 1.5em 0;
}
@media screen and (min-width: 32em) {
  #footer {
    margin: 3em 0 1.5em;
  }
  #header {
    margin: 1.5em 0 3em;
  }
}

.wrapper {
  max-width: 32em;
  margin: 0 auto;
  padding: 0 1em;
}

/* Modules */
/*a*/.logo {
  border-bottom: none;
  color: #a0a0a0;
}
.logo:active,
.logo:focus,
.logo:hover {
  color: #37586C;
}

/*ul*/.navigation li {
  display: inline-block;
}
.navigation a {
  padding: 0 .4em;
  border-bottom: none;
}

/* Media */
@media print {
  @page {
    size: A4;
    margin: 15mm 15mm;
  }

  a { border-bottom: none; }

  a, body { color: #000; }

  body { font-size: 10pt; }

  .no-print { display: none; }

  .wrapper {
    max-width: none;
  }
}

/* Theme */
html {
  background-color: #fafafa;
  color: #434D53;
}

a {
  color: #51829F;
}
a:active,
a:focus,
a:hover {
  color: #37586C;
}

caption,
cite,
figcaption {
  color: #717171;
}