/* HTML Elements */
/* ----------------------------------------------------------*/
a {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  border-bottom-style: solid;
}

blockquote {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

blockquote em {
  font-weight: bold;
}

body {
  margin: 0;
  font: 1em/1.6 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 800px) {
  body {
    font-size: 1.25em;
  }
}

code {
  padding: .1em .2em;
  border-radius: .2em;
}

figure {
  margin: 1em 1.5em;
  padding: 0;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border-bottom: 0 none;
}

h1 {
  margin: .63em 0 .33em;
  font-size: 3.22em;
  font-weight: 900;
  line-height: 1;
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 2.4em;
  }
}

h2 {
  margin: 1em 0 .5em;
  font-size: 2em;
  line-height: 1.18;
}

h3 {
  margin: .67em 0;
  font-size: 1.5em;
  line-height: 1.18;
}

h4,
.logo {
  margin: .78em 0;
  font-size: 1.25em;
  line-height: 1.4;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

small,
.small {
  font-size: .9em;
}

/* Structure */
/* ----------------------------------------------------------*/

.p-footer,
.p-header {
  text-align: center;
}

/* Modules */
/* ----------------------------------------------------------*/

/* Big border */
.big-border--left {
  padding-left: 2em;
  padding-right: 2em;
  border-left: 10em solid;
  overflow: hidden;
  
  
}

@media screen and (max-width: 800px) {
  .big-border--left {
    border-width: .5em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* Caption */
.caption {
  margin-top: 0;
}

/* Content */
.content {
  border-bottom: 1px solid;
  padding-bottom: 1em;
}

.content__header {
  text-align: center;
}

.e-content,
.p-summary {
  max-width: 640px;
  margin: 0 auto;
}

/* List posts */
.list-posts {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
  .list-posts__post {
    border-bottom: 1px solid;
  }
  .list-posts__date::after {
    content: " − ";
  }

/* Logo */
.logo--mini {
  display: block;
  margin: 1em 0;
}

/* Meta */
.meta {
  margin: 0;
}
  .meta-separator::before {
    content: "\2022";
    margin-left: .5em;
    margin-right: .5em;
  }

/* Page subtitle */
.subtitle {
  margin-bottom: 2em;
}

/* Theme */
/* ----------------------------------------------------------*/
a {
  color: #0e5599;
}

a:active,
a:focus,
a:hover {
  color: #092b5a;
}

body {
  color: #333;
}

code {
  background-color: #cbe3fa;
}

html {
  background-color: #fafbfc;
}

.caption,
.list-articles__date {
  color: #808080;
}

.h-entry,
.list-posts__post {
  border-color: #e2e2e2;
}

.p-header {
  background-color: #f2f2f2;
}
.p-footer {
  background-color: #151515;
  color: #fff;
}
.p-header .big-border--left {
  border-color: #0A4074;
}
.p-main .big-border--left {
  border-color: #083662;
}
.p-footer .big-border--left {
  border-color: #222;
}