/* HTML Elements */
/* ----------------------------------------------------------*/
a {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  border-bottom-style: solid;
}

blockquote {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
blockquote::before {
  content: '“';
  float: left;
  margin-left: -.65em;
  margin-top: -.3em;
  font-size: 2em;
  font-weight: bold;
}

blockquote em {
  font-weight: bold;
}

body {
  margin: 0;
  font: 1em/1.6 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 800px) {
  body {
    font-size: 1.25em;
  }
}

code {
  padding: .1em .2em;
  border-radius: .2em;
}

figure {
  margin: 1em 1.5em;
  padding: 0;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border-bottom: 0 none;
}

h1 {
  margin: .63em 0 .33em;
  font-size: 3.22em;
  font-weight: 900;
  line-height: 1;
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 2.4em;
  }
}

h2 {
  margin: 1em 0 .5em;
  font-size: 2em;
  line-height: 1.18;
}

h3 {
  margin: .67em 0;
  font-size: 1.5em;
  line-height: 1.18;
}

h4,
.logo {
  margin: .78em 0;
  font-size: 1.25em;
  line-height: 1.4;
}

h5,
h6 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-style: italic;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

small,
.small {
  font-size: .8em;
}

/* Structure */
/* ----------------------------------------------------------*/

.p-footer,
.p-header {
  text-align: center;
}

/* Modules */
/* ----------------------------------------------------------*/

/* Shared styles */
.entry__content,
.list-posts {
  max-width: 640px;
  margin: 0 auto;
}

/* Big border */
.big-border--left {
  padding-left: 2em;
  padding-right: 2em;
  border-left: 10em solid;
  overflow: hidden;  
}
@media screen and (max-width: 800px) {
  .big-border--left {
    border-width: .5em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* Book-cover */
.book-cover {
  float: left;
  margin-right: 1em;
}

/* Entry */
.entry {
  margin-bottom: 2em;
}
.entry + .entry {
  border-top: 1px solid;
  margin-top: 2em;
}

.entry__header {
  text-align: center;
}

/* List posts */
.list-posts {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0;
  list-style: none;
}
  .list-posts__post {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .list-posts__date {
    display: table-cell;
    width: 8em;
    padding-right: .5em;
    text-align: right;
  }

/* Logo */
.logo--mini {
  display: block;
  margin: 1em 0;
  border-bottom: none;
}
.logo--mini:active,
.logo--mini:focus,
.logo--mini:hover {
  border-bottom: none;
}

/* Meta */
.meta {
  margin: 0;
}
  .meta-separator:before {
    content: "\2022";
    margin-left: .5em;
    margin-right: .5em;
  }

/* Page subtitle */
.subtitle {
  margin-bottom: 2em;
}

/* Javascript styles */
/* ----------------------------------------------------------*/

/* LastFM widget */
.js-lastfm {
  display: inline-block;
  margin: 1em 0 0;
  padding: 1em;
}
.js-lastfm__cover {
  float: left;
  height: 2em;
  width: 2em;
}
.js-lastfm__details {
  margin-left: 3em;
  text-align: left;
}
  .js-lastfm__title {
    display: block;
    font-size: .8em;
    font-weight: bold;
    line-height: 1;
  }
  .js-lastfm__work {
    margin: 0;
    font-size: .9em;
    line-height: 1.3;
  }

/* Theme */
/* ----------------------------------------------------------*/
a {
  color: #0e5599;
}

a:active,
a:focus,
a:hover {
  color: #092b5a;
}

body {
  color: #333;
}

blockquote,
caption,
figcaption,
.caption {
  color: #444;
}

code {
  background-color: #cbe3fa;
}

html {
  background-color: #fafbfc;
}

.entry + .entry {
  border-color: #e2e2e2;
}

.js-lastfm {
  background-color: #1E1E1E;
  background-color: rgba(127, 127, 127, .1);
}

.p-header {
  background-color: #f2f2f2;
  border-color: #0A4074;
}
.p-footer {
  background-color: #151515;
  border-color: #222;
  color: #fff;
}
.p-main {
  border-color: #083662;
}
