
/* Reset */
[class^="pl-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

details,
summary {
  display: block;
}

html {
  background-color: #fff;
}

/* Typography */
.pl-h1,
.pl-h2,
.pl-list,
.pl-nav,
.pl-pattern-details{
  font: 16px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
}

.pl-h1 {
  font-size: 32px;
  margin: 96px 0 24px;
  text-align: center;
}
.pl-h2 {
  border-bottom: 2px solid #e8e8e8;
  font-size: 24px;
  margin: 10px 0;
  padding: 0 4px;
}

.pl-link {
  text-decoration: none;
}
.pl-link:hover {
  text-decoration: underline;
}

/* Modules */

.pl-main {
  margin: 0;
  max-width: none;
  padding: 0;
  width: 100%;
}

.pl-nav {
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 12px 11px;
  position: absolute;
  top: 0;
  vertical-align: middle;
  width: 100%;
}

.pl-pattern {
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  margin: 16px 0;
}
  .pl-pattern-details {
    border-bottom: 2px solid #e8e8e8;
    border-radius: 6px 6px 0 0;
    background-color: #e8e8e8;
    margin: 0;
    overflow: hidden;
  }
    .pl-pattern-details pre {
      word-wrap: break-word;
    }
    .pl-pattern-markup {
      background-color: #fff;
      border-radius: 3px;
      margin: 8px 0 0;
      max-height: 144px;
      overflow-x: hidden;
      padding: 8px;
    }
    .pl-pattern-markup,
    .pl-pattern-usage {
      font-size: 90%;
    }
    .pl-pattern-usage {
      border-bottom: 1px dotted;
      border-top: 1px dotted;
      margin: 0 0 0 8px;
      padding: 7px 8px;
      width: 30%;
    }
  .pl-pattern-details,
  .pl-pattern-preview {
    padding: 0.5em;
  }
  .pl-pattern-details .pl-link,
  .pl-pattern-usage {
    float: right;
  }

  .pl-pattern-preview {
    position: relative;
  }

.pl-section {
  clear: both;
  margin-left: 12px;
  margin-right: 12px;
}
