
/* Reset */
[class^="pl-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

details,
summary {
  display: block;
}

/* Typography */
.pl-h1,
.pl-h2,
.pl-list,
.pl-nav,
.pl-pattern-details{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
}

.pl-h1 {
  font-size: 2em;
  margin: 3em 0 1.5em;
  text-align: center;
}
.pl-h2 {
  border-bottom: 2px solid #e8e8e8;
  font-size: 1.5em;
  margin: .67em 0;
  padding: 0 .25em;
}

.pl-link {
  text-decoration: none;
}
.pl-link:hover {
  text-decoration: underline;
}

/* Modules */

.pl-main {
  background-color: #fff;
  margin: 0;
}

.pl-nav {
  border-bottom: 1px solid #e8e8e8;
  padding: 0.75em;
  position: absolute;
  top: 0;
  vertical-align: middle;
  width: 100%;
}

.pl-pattern {
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  margin: 1em 0;
}
  .pl-pattern-details {
    border-bottom: 2px solid #e8e8e8;
    border-radius: 6px 6px 0 0;
    background-color: #e8e8e8;
    margin: 0;
    overflow: hidden;
  }
    .pl-pattern-details pre {
      white-space: pre-line;
    }
    .pl-pattern-markup {
      background-color: #fff;
      border-radius: 3px;
      margin: 1em 0 0;
      max-height: 9em;
      overflow-x: hidden;
      padding: .5em;
    }
    .pl-pattern-markup,
    .pl-pattern-usage {
      font-size: 90%;
    }
    .pl-pattern-usage {
      margin: 0 0 0 .5em;
      width: 30%;
    }
  .pl-pattern-details,
  .pl-pattern-preview {
    padding: 0.5em;
  }
  .pl-pattern-details .pl-link,
  .pl-pattern-usage {
    float: right;
  }

.pl-section {
  clear: both;
  margin-left: 0.75em;
  margin-right: 0.75em;
}
