/* Shared styles */
.sg-footer,
.sg-header,
.sg-header > h1,
.sg-pattern-name,
.sg-pattern-usage,
.sg-section > h2,
.sg-section > h3,
.sg-section > h4,
.sg-section > p,
.sg-swatches {
	font-family: Arial, sans-serif;
	color: #303030;
}

.sg-footer,
.sg-header,
.sg-main {
	padding: 0 1em;
}

/* Detailed styles */

.sg-body {
	margin: 0 1.5em;
}

.sg-footer {
	border-top: 2px solid #e0e0e0;
}

.sg-header h1 {
	font-size: 3em;
}

.sg-main {
	max-width: 50em;
}

/*ul*/.sg-nav {
	padding-left: 0; 
	list-style: none;
}
	.sg-nav li {
		display: inline;
		margin: 0 .5em;
	}

/*.sg-pattern*/
	.sg-pattern-usage code {
		color: #f50;
	}
	.sg-pattern-details pre {
		white-space: pre-wrap;
		word-break: break-all;
		word-wrap: break-word;
	}

/*ul*/.sg-swatches {
	padding-left: 0;
	list-style: none;
}
	.sg-swatches li {
		display: inline-block;
		width: 23%;
		min-height: 4em;
		margin: 0 1% 1% 0;
		padding: .5em .5em .5em;
		border-radius: .5em;
		box-shadow: 0 .2em .2em #b0b0b0;
		text-align: center;
		vertical-align: bottom;
	}
	.sg-swatches p {
		margin: 0;
		padding: .25em .5em;
	}