---
layout: default
---
{% for post in paginator.posts %}
  {% capture day %}{{ post.date | date: '%m%d%Y' }}{% endcapture %}
  {% capture daybefore %}{{ post.previous.date | date: '%m%d%Y' }}{% endcapture %}
  {% capture dayafter %}{{ post.next.date | date: '%m%d%Y' }}{% endcapture %}
  {% if day != dayafter %}
<section>
<h2>{{ post.date | date_to_long_string }}</h2>
  {% endif %}

  {% if post.category == 'link' %}
{% include article-link.html %}
  {% else %}
{% include article.html %}
  {% endif %}

  {% if day != daybefore %}
</section>
  {% endif %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>{% endif %}
  {% if paginator.next_page %}<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>{% endif %}
</nav>
{% endif %}