<article class="h-entry">
<header class="article-header">
<h2><a class="p-name u-url" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
<p class="meta small"><span>Le <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{% assign d = post.date | date: "%-d" %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = post.date | date: "%-m" %}{% case m %}{% when '1' %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% endcase %} {{ post.date | date: '%Y' }}</time></span><span class="meta-separator"><a class="p-category" href="{{ post.category | prepend: site.baseurl }}">{{ post.category }}</a></span></p>
</header>
<div class="p-summary">
{{ post.excerpt }}
<p>
<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Lire la suite</a>
</p>
</div>
</article>