<!-- start header -->
<header id="header" role="banner">
  <div class="skip">
    <a class="skip__link" href="#content">Aller au contenu</a>
    <a class="skip__link" href="#menu">Aller au menu principal</a>
  </div>
  <div class="container clearfix">
    <div class="left">
      <a class="logo" href="/">Adrien Chrétien</a>
    </div>
    <nav role="navigation" class="nav-container">
      <p class="invisible">Navigation</p>
      <input type="checkbox" id="nav-trigger">
      <label for="nav-trigger" id="nav-trigger-label" class="right">Menu</label>
      <ul class="nav list-nostyle clearfix" id="menu">
        <li class="nav__item"><a class="nav__link{% if page.menu-index == 1 %} nav__link--active{% endif %}" href="/" accesskey="1">Accueil</a></li><!--
        --><li class="nav__item"><a class="nav__link{% if page.menu-index == 2 %} nav__link--active{% endif %}" href="/realisations" accesskey="2">Réalisations</a></li><!--
        --><li class="nav__item"><a class="nav__link{% if page.menu-index == 3 %} nav__link--active{% endif %}" href="/notes" accesskey="3">Notes</a></li><!--
        --><li class="nav__item"><a class="nav__link{% if page.menu-index == 4 %} nav__link--active{% endif %}" href="/liens" accesskey="4">Liens</a></li><!--
        --><li class="nav__item"><a class="nav__link{% if page.menu-index == 5 %} nav__link--active{% endif %}" href="/contact" accesskey="5">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- end header -->
