<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ page.meta }}">
  <meta name="viewport" content="width=device-width">

  <link rel="alternate" href="/feed.atom" title="Atom" type="application/atom+xml">
  <link rel="sitemap" href="/sitemap.xml" title="Sitemap" type="application/xml">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic|Montserrat:700" type="text/css">
  <link rel="stylesheet" href="/css/all.css">
</head>

<body class="wrapper">
{% include header.html %}

<div role="main">
{{ content }}
</div>

{% include footer.html %}
</body>
</html>
