<!DOCTYPE html>
<html lang="{% if page.language %}{{ page.language }}{% else %}{{ site.language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width">
{% if page.highlight_syntax %}
  <link rel="stylesheet" href="/css/syntax.css">
{% endif %}
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" type="text/css">
  <link rel="stylesheet" href="/css/all.css">
</head>
<body>
  {{ content }}
</body>
</html>
