<!doctype HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>{{ site.name }}'s {{ page.name }} page</title>

  <link rel="stylesheet" href="css/all.css" />{% if page.name == "pattern library" %}
  <link rel="stylesheet" href="css/pattern-library.css" />{% endif %}
</head>
{% if page.name == 'patchwork' %}<body>
{% for pattern in page.patterns %}{{ pattern.content }}{% endfor %}
{% else %}<body class="pl-main">
  <h1 class="pl-main-title">{{ site.name }}'s {{ page.name }} page</h1>

  <div class="pl-nav">
    <a class="pl-logo pl-link" href="/">{{ site.name }}</a>
  </div>

  <section class="pl-section">
{% for pattern in page.patterns %}
    <div class="pl-pattern" id="{{ pattern.id }}">
      <details class="pl-pattern-details">
        <summary class="pl-pattern-name">{{ pattern.id }} <a class="pl-link" rel="bookmark" href="#{{ pattern.id }}" title="Shortcut to {{ pattern.id }}">#</a></summary>
        <pre><code class="pl-pattern-markup">{{ pattern.code }}</code></pre>
        <pre class="pl-pattern-usage"><strong>Usage : </strong> {{ pattern.usage }}</pre>
      </details>
      <div class="pl-pattern-preview">
{{ pattern.content }}
      </div>
    </div>
{% endfor %}
  </section>
{% endif %}</body>
</html>