---
layout: default
---
<!-- start article -->
<article class="clearfix h-entry" role="article">
  <!-- start content__head -->
  <div class="content__head">
    <h1 class="p-name">{{ page.title }}</h1>
  </div>
  <!-- end content__head -->
  <!-- start two-columns-first -->
  <aside class="two-columns two-columns--first" role="complementary">
    <p class="meta-item mb0"><span class="small">Publié le <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{% assign d = page.date | date: "%-d" %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = page.date | date: "%-m" %}{% case m %}{% when '1' %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% endcase %} {{ page.date | date: '%Y' }}</time></span></p>
    <p class="meta-item mt0"><span class="small">Rangé dans&nbsp;: <a class="p-category" href="{{ page.category | prepend: "/blog/" }}">{{ page.category }}</a></span></p>
  </aside>
  <!-- end two-columns-first -->
  <!-- start two-columns-second -->
  <div class="two-columns two-columns--second e-content">
    {{ content }}
  </div>
  <!-- end two-columns-second -->
</article>
<!-- end article -->

<!-- start pagination -->
<nav class="pagination-container">
  <p id="paginglabel" class="invisible">Pagination</p>
  <ul class="pagination" aria-labelledby="paginglabel">
    {% if page.previous %}<li class="pagination__item">Billet précédent<br><a class="pagination__link" href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>{% endif %}
    {% if page.next %}<li class="pagination__item">Billet suivant<br><a class="pagination__link" href="{{ page.next.url }}">{{ page.next.title }}</a></li>{% endif %}
  </ul>
</nav>
<!-- end pagination -->
