---
layout: default
---
<article class="h-entry">
<header class="article-header">
  <h1 class="p-name">{{ page.title }}</h1>
  <p class="meta small"><span>Le <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{% assign d = page.date | date: "%-d" %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = page.date | date: "%-m" %}{% case m %}{% when '1' %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% endcase %} {{ page.date | date: '%Y' }}</time></span><span class="meta-separator"><a class="p-category" href="{{ page.category | prepend: '/' | prepend: site.baseurl }}">{{ page.category }}</a></span></p>
</header>
<div class="e-content">
{{ content }}
</div>
</article>